@{
    ViewData["Title"] = "About";
}
<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="~/images/info.png">
            </div><!--end column1-->
            <div class="col-xs-9">
                <h1 style="text-align:center;">About Us <span class="text-muted"></span></h1>

                <p class="lead" style="text-align:center;">At Shaan foods we strive to ensure our Customers are happy!</p>
                <p>
                    Our friendly staff guarantees you a 100% satisfaction. All our meat and chicken are  100% Halal and fresh. If you’re not satisfied with any of our products we’ll replace it.<br />
                    We’re always trying to make Shaan foods the best store in the area. We maintain our groceries to ensure that all of our products are always fresh. We bring you a wide range of product from around the world. If there’s anything we don’t carry. Let us know! And we’ll happily order it for you.<br />
                    Our meat section is open 7 days a week to better serve you. Whatever you looking for we have. We serve you 100% Halal chicken (Sargent farms), Marinated Chicken, Chicken Liver, Hearts, and Giblets!
                    All of our meat comes from peel sausage and is 100% fresh and halal. Whether you’re looking for Beef, Veal, Lamb or Goat. We provide you with the best prices and best quality meat, Guaranteed!!!

                </p>
            </div><!--end column2-->
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2898.815777233039!2d-80.33058108451036!3d43.40177977913071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b89b63ccd48f1%3A0x70781464e0a741f3!2sShaan+Foods!5e0!3m2!1sen!2sca!4v1490317184890" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
        </div><!--end row1-->
    </div>
</div>
