
<div class="container padded">
    <div class="row">
        <div class="col-lg-12" style="text-align:center;"><h2>Products we sell online</h2><hr></div>
    </div><!--end row1-->
    <div class="row">
        <div class="col-sm-6 col-md-3"style="text-align:center;">
            <img class="img-circle img-responsive" src="~/images/Beef.png">
            <h3>Beef</h3>
            <p>Click on the link below to view details and the list of products available.</p>
            <p><a class="btn btn-default" asp-controller="ProductsCategories" asp-action="Index" asp-route-productId="1">View  List &raquo;</a></p>
        </div>

        <div class="clearfix hidden-md hidden-lg"></div>
        <div class="col-sm-6 col-md-3" style="text-align:center;">
            <img class="img-circle img-responsive" src="~/images/Veal.png">
            <h3>Veal</h3>
            <p>Click on the link below to view details and the list of products available.</p>
            <p><a class="btn btn-default" asp-controller="ProductsCategories" asp-action="Index" asp-route-productId="3">View List &raquo;</a></p>
        </div>

        <div class="col-sm-6 col-md-3"style="text-align:center;">
            <img class="img-circle img-responsive" src="~/images/Lamb.png">
            <h3>Lamb</h3>
            <p>Click on the link below to view details and the list of products available.</p>
            <p><a class="btn btn-default" asp-controller="ProductsCategories" asp-action="Index" asp-route-productId="5">View  List &raquo;</a></p>
        </div>
        <div class="col-sm-6 col-md-3 "style="text-align:center;">
            <img class="img-circle img-responsive" src="~/images/Goat.png">
            <h3>Goat</h3>
            <p>Click on the link below to view details and the list of products available.</p>
            <p><a class="btn btn-default" asp-controller="ProductsCategories" asp-action="Index" asp-route-productId="6">View  List &raquo;</a></p>
        </div>
        <div class="col-sm-push-1 col-md-3"style="text-align:center;">
            <img class="img-circle img-responsive" src="~/images/Chicken.png">
            <h3>Chicken</h3>
            <p>Click on the link below to view details and the list of products available.</p>
            <p><a class="btn btn-default" asp-controller="ProductsCategories" asp-action="Index" asp-route-productId="7">View  List &raquo;</a></p>
        </div>
        <div class="col-sm-push-1 col-md-3"style="text-align:center;">
            <img class="img-circle img-responsive" src="~/images/BeefSteaks.png">
            <h3>Beef Steaks</h3>
            <p>Click on the link below to view details and the list of products available.</p>
            <p><a class="btn btn-default" asp-controller="ProductsCategories" asp-action="Index" asp-route-productId="2">View  List &raquo;</a></p>
        </div>
        <div class="col-sm-push-1 col-md-3"style="text-align:center;">
            <img class="img-circle img-responsive" src="~/images/VealSteaks.png">
            <h3>Veal Steaks</h3>
            <p>Click on the link below to view details and the list of products available.</p>
            <p><a class="btn btn-default" asp-controller="ProductsCategories" asp-action="Index" asp-route-productId="4">View List &raquo;</a></p>
        </div>
    </div><!--end row2-->
    <div class="row" style="border-top: 1px solid white;">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2898.815777233039!2d-80.33058108451036!3d43.40177977913071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b89b63ccd48f1%3A0x70781464e0a741f3!2sShaan+Foods!5e0!3m2!1sen!2sca!4v1490317184890" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div><!--end row1-->
</div>
